<div class="container d-flex flex-column justify-content-center align-items-center w-100 py-4">
  <div class="input-group input-group-lg">

    <input class="form-control" type="text" [(ngModel)]="todoTask">
    <button class="btn btn-primary" (click)="addTask()">Add Task</button>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      @for (item of todos; track item.id; let isFirst = $first; let isLast=$last) {

      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card shadow-sm" style="width: 18rem;">
          <img class="card-img-top" [src]="item.src" [alt]="item.name" style="height: 180px; object-fit: cover;">
          <div class="card-body">
            <h5 [style]="{ color: isFirst ? 'red' : (isLast ? 'green' : 'blue') }">
              {{ item.name }}

            </h5>


            <span class="btn btn-danger w-100 text-white" (click)="removeTask(item.id)">
              Delete
            </span>
          </div>
        </div>
      </div>

      }
      @empty {
      <h3 class="text-center">No Todos added</h3>
      }
    </div>
  </div>

  <div [ngSwitch]="count">
    <div *ngSwitchCase="1">Count is ONE</div>
    <div *ngSwitchCase="2">Count is TWO</div>
    <div *ngSwitchDefault>Count is something else</div>
  </div>


</div>