/* You can add global styles to this file, and also import other style files */
$font-stack: "Poppins", sans-serif;

$primaryColor: blue;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 100% $font-stack;
  color: $primaryColor;
  p{
    text-align: center;
    margin: 10px 0px;
  }
}

div{
  background-color: blue !important;
}